body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(15, 23, 42);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;
    font-size: 30px;
    height: 70px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

input {
    width: 450px;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-weight: 700;
}

button:hover {
    background-color: #45a049;
}

.qrcode {
    margin: 20px;
    padding: 10px;
}

#download {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
